#
node_modules
# WP example
/wp/wp-admin
/wp/wp-content
/wp/wp-includes
#
/MERN
/MERN-portfolio
/*.zip
/DashboardFrameworks
/react-pdf-demo
/priceStock
/react-pdf-demo

# Hide RN app in progress 
/NativeApps/ARapp
/NativeApps/appleWatchAppTemplate
/NativeApps/AntiFraud
/ionic-react/

# The nagging wife app
/NativeApps/Nagger


PotentialApps.md